body {
    background: linear-gradient(-45deg, rgb(74, 68, 83), rgb(176, 168, 186), rgb(123, 116, 133), rgb(190, 166, 161));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Animated gradient */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Navbar */

.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.502);
    overflow: auto;
    border-radius: 10px;
}

.navbar a {
    float: left;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(225, 225, 225);
    transition: 0.3s;
}

.active {
    background-color: rgba(160, 160, 160, 0.502);
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .navbar a {
        float: none;
        display: block;
        padding: 15px;
    }
}

/* Website logo */

.navbar .logo {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    pointer-events: none;
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .navbar .logo {
        top: 5px;
    }
}

/* Aside element: Book review */

.aside {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    text-align: justify;
    font-size: 18px;
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .aside {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.aside span {
    font-size: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .aside span {
        display: block;
    }
}

.aside img {
    width: 150px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .aside img {
        width: 120px;
        float: none;
        display: block;
        margin: auto;
    }
}

/* Panel: Book form and cards */

.panel {
    background-color: rgba(240, 248, 255, 0.506);
    padding: 50px;
    margin: 20px;
    border-radius: 25px;
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .panel {
        padding: 10px 0px 0px 0px;
        margin: 0px;
    }
}

.panel h1,
h2 {
    text-indent: 30px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.panel h3 {
    margin-top: 0px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
    .panel h1 {
        font-size: 25px;
    }
}

/* Form: Title, author, comment */

.form {
    padding-right: 80px;
    padding-left: 20px;
}

.form .label {
    margin-left: 15px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

input {
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: content-box;
}

/* Button: Save element */

.saveBtn {
    background-color: rgb(102, 91, 115);
    box-shadow: 0 0 5px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 15px 30px 15px 30px;
    margin: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.saveBtn:hover {
    background-color: rgba(160, 160, 160, 0.502);
    transition: 0.3s;
}

/* Message: "Datos incompletos", "Libro agregado" */

.msg {
    margin-left: 40px;
}

/* Books board: Separated cards per book added */

.container {
    text-align: center;
    padding-bottom: 2px;
}

/* Books added */

.card {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

@media only screen and (max-width: 600px) {
    .card {
        display: block;
    }
}

@media only screen and (max-width: 768px),
(max-width: 992px) {
    .card {
        grid-template-columns: 50% 50%;
    }
}

.card div {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 5px 5px 5px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card div:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

@media only screen and (max-width: 600px),
(max-width: 768px) {
    .card div {
        margin: 0px 0px 20px 0px;
    }
}

@media only screen and (max-width: 992px) {
    .card div {
        margin: 20px 10px 20px 10px;
    }
}

/* Buttons edit and delete */

.editBtn {
    background-color: rgb(215, 206, 225);
    color: rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 5px 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.editBtn:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.deleteBtn {
    background-color: rgb(255, 136, 98);
    color: rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 5px 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deleteBtn:hover {
    opacity: 0.5;
    transition: 0.3s;
}

/* Modal: "Continue" message when deleting elements */

.modal {
    padding: 30px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .modal {
        padding: 35px 12px 20px 12px;
    }
}

.closeBtn {
    background-color: rgb(99, 186, 171);
    color: rgb(0, 0, 0);
    padding: 15px 25px 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer section */

footer {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    padding: 10px 0px 25px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

/* Footer links (for more information) */

.links a {
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    color: rgb(120, 120, 120);
}

.links a:hover {
    color: rgb(225, 225, 225);
    transition: 0.3s;
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .links a {
        display: block;
        padding: 5px;
    }
}

.links .inactive {
    pointer-events: none;
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .links .inactive {
        display: none;
    }
}

/* Social media */

.fa {
    width: 15px;
    padding: 20px;
    margin: 10px 5px 20px 0px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.fa-twitter {
    background: rgb(85, 172, 238);
    color: rgb(255, 255, 255);
}

.fa-linkedin {
    background: rgb(0, 123, 181);
    color: rgb(255, 255, 255);
}

.fa-facebook {
    background: rgb(59, 89, 152);
    color: rgb(255, 255, 255);
}

.fa-instagram {
    background: rgb(18, 86, 136);
    color: rgb(255, 255, 255);
}